@charset "UTF-8";

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.airMesh_wrap .airMesh_body {  
	padding-bottom: 50px;
	min-height: 500px;
	font-family: 'GmarketSansMedium';
	position: relative;
}

.airMesh_wrap .airMesh_body .detailPd_body {
	overflow: visible;
	width: 1700px;
	position: relative;
	top: 120px;
	left: 50px;
  margin: 0 auto;
}

.airMesh_wrap #detail {
	position: relative;
	max-width: 1920px;
	margin: 45px auto 0;
	left: 170px; 
	top: 100px;
}

.airMesh_wrap #detail .detail_top_wrap {
	display: flex;
}

.airMesh_body #detail .detail_top_wrap > .prdimg {
	display: inline-block;
	width: calc(56.6% + 113px);
	max-width: 850px;
	padding: 0 113px 0 0;
}

.airMesh_body #detail .prdimg {
	position: relative;
}

.airMesh_body #detail .addimg {
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.airMesh_body .swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.airMesh_body #detail .add_img > div {
	margin-bottom: 10px;
}

.airMesh_body .swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

.airMesh_body #detail .add_img img {
	width: 100%;
	height: auto;
}

.airMesh_body img {
	vertical-align: top;
}

.airMesh_body #detail .add_img .swiper-button-next {
	right: 52px;
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/button/add_next.png) no-repeat center / 13px auto;
}

.airMesh_body #detail .add_img .swiper-button-next, #detail .add_img .swiper-button-prev {
	margin: 0;
	width: 13px;
	height: 24px;
	margin-top: -12px;
}

.airMesh_body #detail .add_img > div {
	margin-bottom: 10px;
}

.airMesh_body #detail .add_img .swiper-button-prev {
	left: 52px;
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/button/add_prev.png) no-repeat center / 13px auto;
}

.airMesh_body #detail .add_img .swiper-button-next, #detail .add_img .swiper-button-prev {
	margin: 0;
	width: 13px;
	height: 24px;
	margin-top: -12px;
}

.airMesh_body #detail .detail_info {
	margin-bottom: 30px;
}

.airMesh_body #detail .detail_info * {
	font-family: inherit;
	font-size: inherit;
	text-align: inherit;
	line-height: inherit;
}

.airMesh_body #detail .detail_info img, #detail .common_info img {
	width: 100%;
	height: auto;
	font-size: 0;
	line-height: 0;
}

.airMesh_body #detail .related_wrap {
	width: 100%;
	padding: 40px 0 0;
	margin-left: 40px;
	overflow: hidden;
}

.airMesh_body #detail .title_related {
	padding: 0 0 26px;
	color: #000;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}

.airMesh_body #detail .title_detail {
	color: #1a1a1a;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.airMesh_body .tal {
	text-align: left !important;
}

.airMesh_body #detail .ref_slide {
	position: relative;
	width: 100%;
}

.airMesh_body .prd_basic { 
	display: inline-block;
	width: 100%;
	font-size: 0;
	text-align: left;
}

.airMesh_body .prd_basic .box {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.airMesh_body .prd_basic .box .img {
	overflow: hidden;
	position: relative;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.airMesh_body #detail .prdimg {
	position: relative;
}

.airMesh_body .prd_basic .box .img .prdimg {
	transition: all .3s ease;
}

.airMesh_body a, a:hover, a:active, a:focus {
	text-decoration: none;
	cursor: pointer;
}

.airMesh_body .prd_basic .box .img .prdimg img {
	width: 100%;
	height: auto;
}

.airMesh_body .prd_basic .box .info {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.airMesh_body .prd_basic .box .name {
	padding-top: 0;
	color: #000;
	font-size: 14px;
	font-weight: 400;
}

.airMesh_body .prd_basic .box .name > a {
	color: #000;
	font-size: 15px;
	font-weight: 400;
}

.airMesh_body .prd_basic .box .price {
	padding-top: 7px;
	font-size: 0;
	text-align: center;
}

.airMesh_body .prd_basic .box .price .consumerY {
	display: none;
}

.airMesh_body .prd_basic .box .price .consumer {
	text-decoration: line-through;
	display: none;
}

.airMesh_body .prd_basic .box .price p {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	font-size: 17px;
	font-weight: 400;
	word-break: break-all;
	word-wrap: break-word;
}

.airMesh_body .prd_basic .box .price .sellY {
	position: relative;
	display: inline-block;
}

.airMesh_body .prd_basic .box .price .discount_section {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
}

.airMesh_body .prd_basic .box .price .per {
	color: #ff0000;
	font-size: 17px;
}

.airMesh_body .prd_basic .box .price .discountY {
	display: inline-block;
}

.airMesh_body .prd_basic .box .price .discount {
	display: none;
}

.airMesh_body #detail .ref_slide .ref_slide_pg {
	top: auto;
	bottom: 0;
	border-radius: 10px;
	overflow: hidden;
	background: #ddd;
}

.airMesh_body .dn {
	display: none !important;
}

.airMesh_body .box_btn {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.airMesh_body .box_btn.w141 > * {
	width: 141px;
}

.airMesh_body .box_btn > * {
	display: inline-block;
	margin: 0;
	padding: 11px 12px;
	border: 1px solid #676767;
	outline: none;
	background: #666;
	color: #fff !important;
	font-size: 12px;
	font-family: 'LibreBodoni', 'Pretendard', sans-serif;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	line-height: 1.4;
	white-space: nowrap;
	cursor: pointer;
	transition: all .2s ease;
}

.airMesh_wrap .airMesh_body #detail .info_scroll {
	position: relative;
	left: 220px;
	max-width: 450px;
}

.airMesh_body #detail .info_scroll form {
	display: block;
	position: sticky;
	top: 90px;
	width: 450px;
	padding: 0 0 0 6px;
}

.airMesh_body #detail .wrap_prd .info > h3 {
	padding-top: 3px;
	color: #000;
	font-size: 18px;
	line-height: 18px;
}

.airMesh_body #detail .wrap_prd .info > .summary {
	padding-top: 9px;
	color: #828282;
	font-size: 15px;
	font-weight: 400;
	word-break: break-all;
}

.airMesh_body #detail .wrap_prd .info > .price {
	display: flex;
	padding-top: 10px;
}

.airMesh_body #detail .wrap_prd .info > .price .top_price {
	display: flex;
	justify-content: start;
	align-items: center;
}

.airMesh_body #detail .wrap_prd .info > .price .consumerY {
	display: none;
}

.airMesh_body #detail .wrap_prd .info > .price .consumer {
	color: #888;
	text-decoration: line-through;
}

.airMesh_body #detail .wrap_prd .info > .price span, #detail .wrap_prd .info > .price span > strong {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}

.airMesh_body #detail .wrap_prd .info > .price .sellY, #detail .wrap_prd .info > .price .sellY * {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}

.airMesh_body #detail .wrap_prd .info > .price .sellY {
	position: relative;
}

.airMesh_body #detail .wrap_prd .info > .price .sellY strong {
	font-size: 14px;
	color: #8c8c8c;
}

.airMesh_body #detail .wrap_prd .info > .price .discountY {
	display: inline-block;
}

.airMesh_body #detail .wrap_prd .info > .price .discount {
	display: none;
}

.airMesh_body #detail .wrap_prd .info > .price .discountY strong {
	padding-left: 5px;
	font-size: 16px;
	font-weight: 400;
}

.airMesh_body #detail .wrap_prd .info > .price .per {
	padding: 0 7px;
	color: #ff0000;
	font-size: 16px;
	font-weight: 400;
}

.airMesh_body #detail .wrap_prd .info .opt_list {
	padding-top: 12px;
}

.airMesh_body #detail .wrap_prd .info .opt_list .th {
	padding-bottom: 17px;
	color: #000;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}

.airMesh_body #detail .wrap_prd .info .opt_list .td select {
	width: 100%;
	height: 28px;
	border-color: #b8b8b8;
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/common/opt_select.png) no-repeat center right 13px #fff;
}

.airMesh_body select {
	max-width: 100%;
	height: 40px;
	padding: 4px 6px;
	border: 1px solid #dcdcdc;
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/common/select_down.png) no-repeat center right 13px #fff;
	color: #666;
	font: inherit;
	appearance: none;
	-webkit-appearance: none;
}

.airMesh_body #detail .info .opt_list .th:not(:first-of-type) {
	padding-top: 19px;
}

.airMesh_body #detail .wrap_prd .info .opt_list .th {
	padding-bottom: 17px;
	color: #000;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}

.airMesh_body #detail .wrap_prd .info .box_qty {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-top: 25px;
}

.airMesh_body .box_qty {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.airMesh_body .hidden {
	visibility: hidden;
	overflow: hidden;
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0;
	line-height: 0;
}

.airMesh_body #detail .wrap_prd .info .box_qty .form_input {
	width: 40px;
	height: 34px;
	padding-right: 0;
	color: #000;
	font-size: 17px;
	font-weight: 400;
	border: none;
}

.airMesh_body .box_qty .form_input {
	width: 59px;
	height: 34px;
	padding-right: 22px;
}

.airMesh_body input[type=text], input[type=email], input[type=password] {
	vertical-align: top;
}

.airMesh_body .form_input {
	height: 40px;
	padding: 4px 10px;
	border: 1px solid #dcdcdc;
	background: #fff;
	color: #666;
	font-family: 'LibreBodoni', 'Pretendard', sans-serif;
	font-size: 12px;
	transition: all .3s ease;
}

.airMesh_body #detail .wrap_prd .info .box_qty .btn_ea {
	display: flex;
	justify-content: start;
	align-items: center;
	position: static;
	width: auto;
	height: 100%;
}

.airMesh_body .box_qty .btn_ea {
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 34px;
}

.airMesh_body #detail .wrap_prd .info .box_qty .btn_ea a.ea_up {
	margin-right: 15px;
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/shop/det_plus.png) no-repeat top 9px center / 12px auto;
}

.airMesh_body #detail .wrap_prd .info .box_qty .btn_ea a {
	display: block;
	width: 12px;
	height: 100%;
	color: #000;
	font-size: 21px;
	font-weight: 400;
	text-indent: -9999px;
}

.airMesh_body .box_qty .btn_ea a.ea_up {
	background-image: url(https://www.rolarola.com/_skin/rolarola_250613/img/common/bullet_arrow_up.png);
}

.airMesh_body .box_qty .btn_ea a {
	display: block;
	width: 24px;
	height: 17px;
	background-repeat: no-repeat;
	background-position: center;
}

.airMesh_body #detail .wrap_prd .info .box_qty .btn_ea a.ea_down {
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/shop/det_minus.png) no-repeat top 9px center / 12px auto;
}

.airMesh_body #detail .wrap_prd .info > .list {
	width: 100%;
	margin-top: 20px;
}

.airMesh_body table {
	border-collapse: collapse;
	border-spacing: 0;
}

.airMesh_body #detail .wrap_prd .info > .list > tbody > tr > th {
	padding: 6px 5px 6px 0;
	color: #000;
	font-size: 15px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

.airMesh_body #detail .wrap_prd .info > .list > tbody > tr > td {
	padding: 6px 0;
	color: #828282;
	font-size: 15px;
	text-align: left;
	vertical-align: middle;
}

.airMesh_body #detail .wrap_prd .info > .list > tbody > tr > td .box_info {
	display: inline-block;
	position: relative;
}

.airMesh_body #detail .wrap_prd .info > .list > tbody > tr > td .box_info .info {
	display: none;
	position: absolute;
	left: 20px;
	top: -8px;
	z-index: 10;
	width: 150px;
	padding: 10px 15px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	background: #fff;
}

.airMesh_body #detail .wrap_prd .info > .multi_opt {
	margin-top: 7px;
}

ol, ul, li {
	list-style: none;
}

.airMesh_body #detail .wrap_prd .info > .multi_opt .opt_total {
	display: flex;
	justify-content: start;
	align-items: center;
	position: relative;
	padding: 23px 0;
	border: 1px solid #000;
	border-width: 1px 0;
}

.airMesh_body #detail .wrap_prd .info > .multi_opt .opt_total .title {
	padding-right: 4px;
	color: #000;
	font-size: 15px;
	letter-spacing: -0.05rem;
	line-height: 15px;
}

.airMesh_body .box_btn.wishBtn a {
  display: block;
  background: #fff;
  color: #111;
  border: 1px solid #111;
  text-align: center;
}

.airMesh_body .box_btn.wishBtn.on a {
  background: #111;
  color: #fff;
}

.airMesh_body 
#detail 
.wrap_prd 
.info > .multi_opt 
.opt_total strong, 
#detail 
.wrap_prd 
.info > .multi_opt 
.opt_total strong * {
	color: #000;
	font-size: 16px;
	font-weight: 500;
}

.airMesh_body #detail .wrap_prd .info > .multi_opt .opt_total strong > span {
	padding: 0 4px;
}

.airMesh_body #detail .wrap_prd .info > .btn {
	display: flex;
	justify-content: start;
	flex-direction: column;
	row-gap: 10px;
	margin-top: 31px;
	font-size: 0;
}

.airMesh_body .box_btn.block {
	display: block;
}

.airMesh_body .box_btn {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.airMesh_body #detail .wrap_prd .info > .btn .buy *, #detail .wrap_prd .info > .btn .cart * {
	display: block;
	width: 100%;
}

.airMesh_body #detail .wrap_prd .info > .btn .box_btn > * {
	padding: 0;
	background: #fff;
	border: 2px solid #888;
	color: #000 !important;
	font-size: 14px;
	font-weight: 400;
	line-height: 33px;
}

.airMesh_body .box_btn.block > * {
	width: 100%;
}

.airMesh_body .box_btn.large > * {
	padding: 12px 16px;
	font-size: 14px;
}

.airMesh_body #detail .wrap_prd .info > .pay {
	display: block;
	text-align: right;
}

.airMesh_body #detail .wrap_prd .info > .pay > div {
	margin-top: 18px;
	text-align: left;
}

.airMesh_body #detail .wrap_prd .info > .pay .npay_type_A_2 {
	width: 100% !important;
}

.airMesh_body .npay_type_A_2 {
	width: 285px !important;
	height: 88px !important;
}

.airMesh_body .npay_storebtn_bx {
	display: inline-block !important;
}

.airMesh_body 
.npay_storebtn_bx, 
.npay_button_box, 
.npay_button_box2, 
.npay_storebtn_bx *, 
.npay_button_box *, 
.npay_button_box2 * {
	display: block !important;
	overflow: hidden !important;
	float: none !important;
	position: static !important;
	top: auto !important;
	left: auto !important;
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 none !important;
	font-size: 12px !important;
	line-height: 16px !important;
	font-family: '돋움', Dotum, Helvetica, sans-serif !important;
	text-align: left !important;
	text-decoration: none !important;
	vertical-align: top !important;
	background: none !important;
	border-radius: 0 !important;
}

.airMesh_body #detail .wrap_prd .info > .pay .npay_button_box {
	width: 100% !important;
}

.airMesh_body .npay_button_box, .npay_button_box2 {
	width: auto !important;
	height: 100% !important;
	zoom: 1 !important;
	padding: 0 4px !important;
	border-top: 2px solid #2b2f3a !important;
	background-color: #fff !important;
}

.airMesh_body 
.npay_storebtn_bx, 
.npay_button_box, 
.npay_button_box2, 
.npay_storebtn_bx *, 
.npay_button_box *, 
.npay_button_box2 * {
	display: block !important;
	overflow: hidden !important;
	float: none !important;
	position: static !important;
	top: auto !important;
	left: auto !important;
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 none !important;
	font-size: 12px !important;
	line-height: 16px !important;
	font-family: '돋움', Dotum, Helvetica, sans-serif !important;
	text-align: left !important;
	text-decoration: none !important;
	vertical-align: top !important;
	background: none !important;
	border-radius: 0 !important;
}

.airMesh_body .npay_button {
	position: relative !important;
	margin: 0 !important;
	padding: 11px 0 11px 86px !important;
	zoom: 1 !important;
}

.airMesh_body .npay_text {
	display: block !important;
	position: absolute !important;
	top: 11px !important;
	left: 0 !important;
	width: 79px !important;
	height: 36px !important;
	margin: 0 !important;
	padding: 0 !important;
	background: url(../../images/button/2023_10_diff/npay_sp_text.png) no-repeat !important;
	background-size: 180px auto !important;
}

.airMesh_body .npay_button_box .npay_blind, .npay_button_box .yellow, .npay_button_box .blue, .npay_button_box2 .npay_blind, .npay_button_box2 .yellow .npay_button_box2 .blue {
	overflow: hidden !important;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	clip: rect(0 0 0 0) !important;
}

.airMesh_body .npay_btn_list {
	display: table !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	table-layout: fixed !important;
	list-style: none !important;
}

.airMesh_body .npay_btn_list tbody {
	display: table-row-group !important;
}

.airMesh_body .npay_btn_list tr {
	display: table-row !important;
}

.airMesh_body .npay_btn_item {
	display: table-cell !important;
	height: 37px !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: left !important;
}

.airMesh_body .npay_btn_item:first-child .npay_btn_link {
	margin: 0 !important;
}

.airMesh_body .npay_btn_link.btn_green {
	border-color: #00c851 !important;
	background-color: #00de5a !important;
}

.airMesh_body .npay_btn_link.npay_btn_pay {
	border-color: #00c05a !important;
	background-image: url(../../images/button/2023_10_diff/npay_sp_payment.png) !important;
	background-position: 50% 0 !important;
	background-repeat: no-repeat !important;
	background-size: 63px auto !important;
}

.airMesh_body .npay_btn_link {
	display: block !important;
	height: 35px !important;
	margin: 0 0 0 3px !important;
	padding: 0 !important;
	border: 1px solid #ccc !important;
	border-radius: 2px !important;
	background-color: #fff !important;
	background-repeat: no-repeat !important;
	background-repeat: no-repeat !important;
	text-align: center !important;
	text-decoration: none !important;
}

.airMesh_body .npay_btn_item.btn_width {
	width: 40px !important;
}

.airMesh_body .npay_btn_link.npay_btn_zzim {
	background-image: url(../../images/button/2023_10_diff/npay_sp_zzim.png) !important;
	background-position: 50% 0 !important;
	background-repeat: no-repeat !important;
	background-size: 35px auto !important;
}

.airMesh_body .npay_btn_link.npay_btn_zzim, .npay_btn_link.npay_btn_talk {
	width: 35px !important;
}

.airMesh_body .npay_event {
	position: relative !important;
	margin: 0 !important;
	padding: 0 40px 0 0 !important;
	border: 0 none !important;
	border-top: 1px solid #eaecee !important;
}

.airMesh_body .npay_more_prev {
	right: 15px !important;
	background-position: 0 0 !important;
}

.airMesh_body .npay_more {
	position: absolute !important;
	top: 5px !important;
	width: 16px !important;
	height: 16px !important;
	margin: 0 !important;
	padding: 0 !important;
	background: url(../../images/button/2023_10_diff/npay_sp_more.png) no-repeat !important;
	background-size: 31px auto !important;
	text-decoration: none !important;
}

.airMesh_body .npay_storebtn_bx, .npay_button_box, .npay_button_box2, .npay_storebtn_bx *, .npay_button_box *, .npay_button_box2 * {
	display: block !important;
	overflow: hidden !important;
	float: none !important;
	position: static !important;
	top: auto !important;
	left: auto !important;
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 none !important;
	font-size: 12px !important;
	line-height: 16px !important;
	font-family: '돋움', Dotum, Helvetica, sans-serif !important;
	text-align: left !important;
	text-decoration: none !important;
	vertical-align: top !important;
	background: none !important;
	border-radius: 0 !important;
}

.airMesh_body .npay_button_box .npay_blind, .npay_button_box .yellow, .npay_button_box .blue, .npay_button_box2 .npay_blind, .npay_button_box2 .yellow .npay_button_box2 .blue {
	overflow: hidden !important;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	clip: rect(0 0 0 0) !important;
}

.airMesh_body .Product_naverPay {
	color: white; 
	font-size: 12px;
}

.airMesh_body .npay_event_text {
	display: block !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 5px 0 !important;
	letter-spacing: 0 !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	word-wrap: normal !important;
}

.airMesh_body .npay_event_text .event_title {
	display: inline !important;
	margin: 0 5px 0 0 !important;
	padding: 0 !important;
	font-weight: normal !important;
	color: #00c05a !important;
	vertical-align: middle !important;
}

.airMesh_body .npay_event .npay_event_text .event_link {
	display: inline !important;
	margin: 0 !important;
	padding: 0 !important;
	font-weight: normal !important;
	color: #929294 !important;
	text-decoration: none !important;
	vertical-align: middle !important;
}

.airMesh_body .npay_more_next {
	right: 0 !important;
	background-position: -15px 0 !important;
}

.airMesh_body .npay_more {
	position: absolute !important;
	top: 5px !important;
	width: 16px !important;
	height: 16px !important;
	margin: 0 !important;
	padding: 0 !important;
	background: url(../../images/button/2023_10_diff/npay_sp_more.png) no-repeat !important;
	background-size: 31px auto !important;
	text-decoration: none !important;
}

.airMesh_body #detail .wrap_prd .info > .app_link {
	padding-top: 10px;
}

.airMesh_body #detail .wrap_prd .info > .app_link img {
	width: 100%;
	height: auto;
}

.airMesh_body #detail .wrap_prd .info .count_share {
	position: static;
	bottom: 0;
	right: 0;
	width: 100%;
	font-size: 0;
}

.airMesh_body .tar {
	text-align: right !important;
}

.airMesh_body #detail .wrap_prd .info .count_share .count_box, #detail .wrap_prd .info .count_share .sns {
	display: inline-block;
	vertical-align: middle;
}

.airMesh_body #detail .wrap_prd .info .count_share .sns a {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9999px;
}

.airMesh_body #detail .wrap_prd .info .count_share .sns a > span.kakao {
	display: block;
	height: 100%;
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/shop/icon_kakao.png) no-repeat center;
}

.airMesh_body #detail .wrap_prd .info .count_share .sns a > span.kakaostory {
	display: block;
	height: 100%;
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/shop/icon_kakaostory.png) no-repeat center;
}

.airMesh_body #detail .wrap_prd .info .count_share .sns a.facebook {
	background-image: url(https://www.rolarola.com/_skin/rolarola_250613/img/shop/icon_facebook.png);
}

.airMesh_body #detail .wrap_prd .info .count_share .sns a.insta_share {
	background-image: url(https://www.rolarola.com/_skin/rolarola_250613/img/common/icon_in.png);
}

.airMesh_body #detail .wrap_prd .info .count_share .sns span.wish a {
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/common/detail_wish.png) no-repeat center;
}

.airMesh_body #detail .wrap_prd .info .count_share .count_box {
	padding-left: 78px;
}

.airMesh_body #detail .wrap_prd .info .count_share .count_box, #detail .wrap_prd .info .count_share .sns {
	display: inline-block;
	vertical-align: middle;
}

.airMesh_body #detail .wrap_info {
	clear: both;
	width: 100%;
	max-width: 1200px;
	margin: 100px auto 0;
}

.airMesh_body #detail .wrap_info .tabcnt_detail.tabcnt_detail0 {
	padding-top: 86px;
}

.airMesh_body #detail .wrap_info .tabcnt_detail {
	padding-top: 50px;
}

.airMesh_body #detail .wrap_info .tabcnt_detail {
	padding-top: 50px;
}

.airMesh_body #detail .wrap_info .tabcnt_detail.tabcnt_detail3 .title_detail {
	padding-bottom: 33px;
}

.airMesh_body #detail .title_detail {
	color: #1a1a1a;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.airMesh_body #detail .wrap_info .detail_info, #detail .wrap_info .common_info {
	word-break: break-all;
}

.airMesh_body #detail .detail_info img, #detail .common_info img {
	width: 100%;
	height: auto;
	font-size: 0;
	line-height: 0;
}

.airMesh_body #detail .wrap_info .tabcnt_detail {
	padding-top: 50px;
}

.airMesh_body .crema-hide.crema-applied {
	display: none !important;
}

.airMesh_body .paging {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	font-size: 0;
	text-align: center;
}

.airMesh_body .paging li {
	display: inline;
	padding: 0 10px;
	color: #9e9e9e;
	vertical-align: middle;
}

.airMesh_body .paging li strong {
	display: inline-block;
	color: #000;
	font-size: 20px;
}

.airMesh_body #detail .wrap_info .tabcnt_detail.tabcnt_detail1 .title_detail {
	padding-bottom: 50px;
}

.airMesh_body #detail .title_detail {
	color: #1a1a1a;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
} /** 여기까지가 상품리뷰 */

/** 상품문의 */
.airMesh_body #detail .wrap_info .tabcnt_detail {
	padding-top: 50px;
}

.airMesh_body #detail .wrap_info .tabcnt_detail.tabcnt_detail2 .title_detail {
	padding: 72px 0 0;
}

.airMesh_body .form_input.block {
	width: 100% !important;
}

.airMesh_body input[type=text], input[type=email], input[type=password] {
	vertical-align: top;
}

.airMesh_body .form_input.block {
	width: 100% !important;
}

.airMesh_body textarea.form_input {
	height: auto;
}

.airMesh_body .form_input {
	height: 40px;
	padding: 4px 10px;
	border: 1px solid #dcdcdc;
	background: #fff;
	color: #666;
	font-family: 'LibreBodoni', 'Pretendard', sans-serif;
	font-size: 12px;
	transition: all .3s ease;
}

.airMesh_body .box_btn.w150 > * {
	width: 150px;
}

.airMesh_body .box_btn.large > * {
	padding: 12px 16px;
	font-size: 14px;
}

.airMesh_body .empty {
	padding: 100px 0 !important;
	text-align: center;
}

.airMesh_body #detail .detail_qnarev .btn .box_btn.right {
	margin-left: 12px;
}

.airMesh_bodyy .box_btn {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.airMesh_body #detail_dimmed {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}